# Exploratory Data Analysis on Employee Increment Dataset

This project analyzes employee sales performance data to apply business rules, clean inconsistencies, and derive insights related to salary increments.

## 1. Introduction

The purpose of this analysis is to clean employee performance data, validate key fields, and analyze sales-based increment patterns using exploratory data analysis techniques.

In [34]:
# 1.load csv file into pandas dataframe
import pandas as pd
import numpy as np
import re
from IPython.display import display as ds
import os
file_path = r"E:\python\projects (all)\python & visualization\first py project\aus_ccx_21.csv"
df = pd.read_csv(file_path)
print(ds(df))

,first_name,last_name,email,join_date,salary,remarks,sales,time_productive
0,Yuki,Tanaka,yuki34@outlook.com,09/10/2021,NaN,Good employee,4133,85
1,Wei,Singh,wei@gmail.com,09/10/2021,NaN,Good employee,3138,NaN
2,Olga,Kumar,olga@hotmail,02/11/2022,$52872,Needs improvement,NaN,NaN
3,Michael,Singh,michael86@example,Not Available,NaN,Needs improvement,$3163,83
4,Sara,Patel,sara78@yahoo.com,25/06/2021,$78655,NaN,$2915,NaN
...,...,...,...,...,...,...,...,...
95,Yuki,Kumar,yuki77@gmail.com,23/07/2024,$51532,Needs improvement,NaN,NaN
96,Michael,Patel,michael46@yahoo.com,11/01/2023,$37204,NaN,$4665,83
97,Luis,Smith,luis96@gmail.com,22/12/2020,78609 USD,Needs improvement,$3470,NaN
98,Anil,Chen,anil@gmail.com,17/11/2022,$59622,NaN,$2254,155 hrs
99,Olga,Garcia,olga14@outlook.com,27/07/2022,61390 USD,NaN,4483,82 hrs

None

## 2. Dataset Overview

This section explores the structure of the dataset, including column names, data types, and the presence of missing values.

In [35]:
df.head()

,first_name,last_name,email,join_date,salary,remarks,sales,time_productive
0,Yuki,Tanaka,yuki34@outlook.com,09/10/2021,NaN,Good employee,4133,85
1,Wei,Singh,wei@gmail.com,09/10/2021,NaN,Good employee,3138,NaN
2,Olga,Kumar,olga@hotmail,02/11/2022,$52872,Needs improvement,NaN,NaN
3,Michael,Singh,michael86@example,Not Available,NaN,Needs improvement,$3163,83
4,Sara,Patel,sara78@yahoo.com,25/06/2021,$78655,NaN,$2915,NaN

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   first_name       100 non-null    object
 1   last_name        100 non-null    object
 2   email            100 non-null    object
 3   join_date        100 non-null    object
 4   salary           62 non-null     object
 5   remarks          61 non-null     object
 6   sales            72 non-null     object
 7   time_productive  64 non-null     object
dtypes: object(8)
memory usage: 6.4+ KB

In [37]:
df.isnull().sum()

first_name          0
last_name           0
email               0
join_date           0
salary             38
remarks            39
sales              28
time_productive    36
dtype: int64

## 3. Data Cleaning

Data cleaning is performed to ensure accuracy and consistency. This includes handling missing values, validating email formats, removing duplicates, and applying business rules based on sales performance.

In [3]:
# 2. Removal of leading and trailing spece from all string columns

obj_cols = df.select_dtypes(include='object').columns
df[obj_cols] = df[obj_cols].apply(lambda x: x.astype('string').str.strip())
df

,first_name,last_name,email,join_date,salary,remarks,sales,time_productive
0,Yuki,Tanaka,yuki34@outlook.com,09/10/2021,<NA>,Good employee,4133,85
1,Wei,Singh,wei@gmail.com,09/10/2021,<NA>,Good employee,3138,<NA>
2,Olga,Kumar,olga@hotmail,02/11/2022,$52872,Needs improvement,<NA>,<NA>
3,Michael,Singh,michael86@example,Not Available,<NA>,Needs improvement,$3163,83
4,Sara,Patel,sara78@yahoo.com,25/06/2021,$78655,<NA>,$2915,<NA>
...,...,...,...,...,...,...,...,...
95,Yuki,Kumar,yuki77@gmail.com,23/07/2024,$51532,Needs improvement,<NA>,<NA>
96,Michael,Patel,michael46@yahoo.com,11/01/2023,$37204,<NA>,$4665,83
97,Luis,Smith,luis96@gmail.com,22/12/2020,78609 USD,Needs improvement,$3470,<NA>
98,Anil,Chen,anil@gmail.com,17/11/2022,$59622,<NA>,$2254,155 hrs
99,Olga,Garcia,olga14@outlook.com,27/07/2022,61390 USD,<NA>,4483,82 hrs

In [4]:
# 3. Email = change to lower case, validate, replace invalid with NaN

df['email'] = df['email'].str.lower()
valid_email = df['email'].str.match(r'^[\w\.-]+@[\w\.-]+\.\w+$', na=False)
df.loc[~valid_email, 'email'] = np.nan
df

,first_name,last_name,email,join_date,salary,remarks,sales,time_productive
0,Yuki,Tanaka,yuki34@outlook.com,09/10/2021,<NA>,Good employee,4133,85
1,Wei,Singh,wei@gmail.com,09/10/2021,<NA>,Good employee,3138,<NA>
2,Olga,Kumar,<NA>,02/11/2022,$52872,Needs improvement,<NA>,<NA>
3,Michael,Singh,<NA>,Not Available,<NA>,Needs improvement,$3163,83
4,Sara,Patel,sara78@yahoo.com,25/06/2021,$78655,<NA>,$2915,<NA>
...,...,...,...,...,...,...,...,...
95,Yuki,Kumar,yuki77@gmail.com,23/07/2024,$51532,Needs improvement,<NA>,<NA>
96,Michael,Patel,michael46@yahoo.com,11/01/2023,$37204,<NA>,$4665,83
97,Luis,Smith,luis96@gmail.com,22/12/2020,78609 USD,Needs improvement,$3470,<NA>
98,Anil,Chen,anil@gmail.com,17/11/2022,$59622,<NA>,$2254,155 hrs
99,Olga,Garcia,olga14@outlook.com,27/07/2022,61390 USD,<NA>,4483,82 hrs

In [ ]:
# 4. Dates Correction and Replace to NaN

df['join_date'] = df['join_date'].replace('Not Available', np.nan)
df['join_date'] = pd.to_datetime(df['join_date'], errors='coerce', dayfirst=True)
df

,first_name,last_name,email,join_date,salary,remarks,sales,time_productive
0,Yuki,Tanaka,yuki34@outlook.com,2021-10-09,<NA>,Good employee,4133,85
1,Wei,Singh,wei@gmail.com,2021-10-09,<NA>,Good employee,3138,<NA>
2,Olga,Kumar,<NA>,2022-11-02,$52872,Needs improvement,<NA>,<NA>
3,Michael,Singh,<NA>,NaT,<NA>,Needs improvement,$3163,83
4,Sara,Patel,sara78@yahoo.com,2021-06-25,$78655,<NA>,$2915,<NA>
...,...,...,...,...,...,...,...,...
95,Yuki,Kumar,yuki77@gmail.com,2024-07-23,$51532,Needs improvement,<NA>,<NA>
96,Michael,Patel,michael46@yahoo.com,2023-01-11,$37204,<NA>,$4665,83
97,Luis,Smith,luis96@gmail.com,2020-12-22,78609 USD,Needs improvement,$3470,<NA>
98,Anil,Chen,anil@gmail.com,2022-11-17,$59622,<NA>,$2254,155 hrs
99,Olga,Garcia,olga14@outlook.com,2022-07-27,61390 USD,<NA>,4483,82 hrs

In [6]:
# 5. Salary remove $ and USD to empty string, change to numeric

df['salary'] = df['salary'].replace (r'[\$USD]', '', regex=True)
df['salary'] = pd.to_numeric(df['salary'], errors='coerce')
df

,first_name,last_name,email,join_date,salary,remarks,sales,time_productive
0,Yuki,Tanaka,yuki34@outlook.com,2021-10-09,<NA>,Good employee,4133,85
1,Wei,Singh,wei@gmail.com,2021-10-09,<NA>,Good employee,3138,<NA>
2,Olga,Kumar,<NA>,2022-11-02,52872,Needs improvement,<NA>,<NA>
3,Michael,Singh,<NA>,NaT,<NA>,Needs improvement,$3163,83
4,Sara,Patel,sara78@yahoo.com,2021-06-25,78655,<NA>,$2915,<NA>
...,...,...,...,...,...,...,...,...
95,Yuki,Kumar,yuki77@gmail.com,2024-07-23,51532,Needs improvement,<NA>,<NA>
96,Michael,Patel,michael46@yahoo.com,2023-01-11,37204,<NA>,$4665,83
97,Luis,Smith,luis96@gmail.com,2020-12-22,78609,Needs improvement,$3470,<NA>
98,Anil,Chen,anil@gmail.com,2022-11-17,59622,<NA>,$2254,155 hrs
99,Olga,Garcia,olga14@outlook.com,2022-07-27,61390,<NA>,4483,82 hrs

In [7]:
# 6. Remarks column - remove trailing and leading space, also double and single space between the strings

df['remarks'] = df['remarks'].mask(df['remarks'].isna(), np.nan)
df['remarks'] = df['remarks'].str.strip()
df['remarks'] = df['remarks'].str.replace('  ', ' ', regex=False)
df

,first_name,last_name,email,join_date,salary,remarks,sales,time_productive
0,Yuki,Tanaka,yuki34@outlook.com,2021-10-09,<NA>,Good employee,4133,85
1,Wei,Singh,wei@gmail.com,2021-10-09,<NA>,Good employee,3138,<NA>
2,Olga,Kumar,<NA>,2022-11-02,52872,Needs improvement,<NA>,<NA>
3,Michael,Singh,<NA>,NaT,<NA>,Needs improvement,$3163,83
4,Sara,Patel,sara78@yahoo.com,2021-06-25,78655,<NA>,$2915,<NA>
...,...,...,...,...,...,...,...,...
95,Yuki,Kumar,yuki77@gmail.com,2024-07-23,51532,Needs improvement,<NA>,<NA>
96,Michael,Patel,michael46@yahoo.com,2023-01-11,37204,<NA>,$4665,83
97,Luis,Smith,luis96@gmail.com,2020-12-22,78609,Needs improvement,$3470,<NA>
98,Anil,Chen,anil@gmail.com,2022-11-17,59622,<NA>,$2254,155 hrs
99,Olga,Garcia,olga14@outlook.com,2022-07-27,61390,<NA>,4483,82 hrs

In [8]:
# 7. Sales = remove $ and leave <NA> as it is

df['sales'] = df['sales'].replace(r'[\$]', '', regex=True)
df['sales'] = pd.to_numeric(df['sales'], errors='coerce')
df

,first_name,last_name,email,join_date,salary,remarks,sales,time_productive
0,Yuki,Tanaka,yuki34@outlook.com,2021-10-09,<NA>,Good employee,4133,85
1,Wei,Singh,wei@gmail.com,2021-10-09,<NA>,Good employee,3138,<NA>
2,Olga,Kumar,<NA>,2022-11-02,52872,Needs improvement,<NA>,<NA>
3,Michael,Singh,<NA>,NaT,<NA>,Needs improvement,3163,83
4,Sara,Patel,sara78@yahoo.com,2021-06-25,78655,<NA>,2915,<NA>
...,...,...,...,...,...,...,...,...
95,Yuki,Kumar,yuki77@gmail.com,2024-07-23,51532,Needs improvement,<NA>,<NA>
96,Michael,Patel,michael46@yahoo.com,2023-01-11,37204,<NA>,4665,83
97,Luis,Smith,luis96@gmail.com,2020-12-22,78609,Needs improvement,3470,<NA>
98,Anil,Chen,anil@gmail.com,2022-11-17,59622,<NA>,2254,155 hrs
99,Olga,Garcia,olga14@outlook.com,2022-07-27,61390,<NA>,4483,82 hrs

In [ ]:
#8. Time Column - remove 'hrs' and convert to numeric 

df['time_productive'] = df['time_productive'].replace(r'hrs', '', regex=True)
df['time_productive'] = pd.to_numeric(df['time_productive'], errors='coerce')
df

,first_name,last_name,email,join_date,salary,remarks,sales,time_productive
0,Yuki,Tanaka,yuki34@outlook.com,2021-10-09,<NA>,Good employee,4133,85
1,Wei,Singh,wei@gmail.com,2021-10-09,<NA>,Good employee,3138,<NA>
2,Olga,Kumar,<NA>,2022-11-02,52872,Needs improvement,<NA>,<NA>
3,Michael,Singh,<NA>,NaT,<NA>,Needs improvement,3163,83
4,Sara,Patel,sara78@yahoo.com,2021-06-25,78655,<NA>,2915,<NA>
...,...,...,...,...,...,...,...,...
95,Yuki,Kumar,yuki77@gmail.com,2024-07-23,51532,Needs improvement,<NA>,<NA>
96,Michael,Patel,michael46@yahoo.com,2023-01-11,37204,<NA>,4665,83
97,Luis,Smith,luis96@gmail.com,2020-12-22,78609,Needs improvement,3470,<NA>
98,Anil,Chen,anil@gmail.com,2022-11-17,59622,<NA>,2254,155
99,Olga,Garcia,olga14@outlook.com,2022-07-27,61390,<NA>,4483,82

In [ ]:
#9. Remove duplicates(first_name, last_name, email)

df = df.drop_duplicates(subset = ['email']).reset_index(drop=True)
df = df.drop_duplicates(subset = ['first_name', 'last_name'])                                
df

,first_name,last_name,email,join_date,salary,remarks,sales,time_productive
0,Yuki,Tanaka,yuki34@outlook.com,2021-10-09,<NA>,Good employee,4133,85
1,Wei,Singh,wei@gmail.com,2021-10-09,<NA>,Good employee,3138,<NA>
2,Olga,Kumar,<NA>,2022-11-02,52872,Needs improvement,<NA>,<NA>
3,Sara,Patel,sara78@yahoo.com,2021-06-25,78655,<NA>,2915,<NA>
4,Luis,Kumar,luis@gmail.com,2023-07-22,62016,Good employee,4641,92
5,Fatima,Garcia,fatima@yahoo.com,2020-01-08,<NA>,<NA>,2261,<NA>
7,Michael,Kumar,michael43@outlook.com,2024-11-05,87764,<NA>,<NA>,<NA>
8,Priya,Garcia,priya@yahoo.com,NaT,37084,Good employee,2588,168
9,Wei,Chen,wei4@gmail.com,2022-11-09,<NA>,Needs improvement,1263,157
10,Michael,Tanaka,michael41@outlook.com,2021-06-27,58479,<NA>,1291,85
11,Olga,Garcia,olga25@outlook.com,2022-04-16,75692,<NA>,921,91
12,Fatima,Patel,fatima27@outlook.com,2023-03-11,56612,<NA>,3059,87
13,Yuki,Chen,yuki95@yahoo.com,2022-06-23,<NA>,<NA>,4656,106
14,Sara,Garcia,sara@yahoo.com,NaT,70583,<NA>,4450,56
15,Anil,Brown,anil52@yahoo.com,NaT,<NA>,Good employee,2352,110
16,Sara,Singh,sara97@outlook.com,2024-06-29,<NA>,<NA>,<NA>,57
17,Olga,Brown,olga@outlook.com,2023-01-27,<NA>,Needs improvement,3283,135
19,Priya,Lee,priya54@outlook.com,2022-04-14,60534,<NA>,<NA>,51
20,John,Tanaka,john@outlook.com,2022-02-18,49569,<NA>,2262,115
21,Anil,Chen,anil11@outlook.com,2024-04-07,79283,Good employee,<NA>,167
22,Olga,Smith,olga4@yahoo.com,NaT,<NA>,Good employee,1168,<NA>
24,Yuki,Smith,yuki@yahoo.com,NaT,54596,Good employee,2265,<NA>
25,Luis,Ivanova,luis54@outlook.com,2023-09-16,<NA>,Good employee,<NA>,71
26,Yuki,Ivanova,yuki42@yahoo.com,2022-09-17,<NA>,Good employee,3737,149
29,Luis,Singh,luis90@outlook.com,2022-12-23,<NA>,Needs improvement,<NA>,<NA>
30,Priya,Kumar,priya13@yahoo.com,2022-09-18,<NA>,Needs improvement,1090,<NA>
31,Michael,Singh,michael44@yahoo.com,2020-07-29,48634,Good employee,1137,59
35,Anil,Tanaka,anil59@gmail.com,2022-08-20,<NA>,<NA>,1221,<NA>
38,John,Garcia,john36@yahoo.com,2023-03-26,<NA>,<NA>,<NA>,<NA>
39,Anil,Garcia,anil42@gmail.com,NaT,32404,Needs improvement,3362,70
40,Anil,Smith,anil@outlook.com,NaT,48876,Good employee,1699,70
43,Anil,Kumar,anil18@gmail.com,2022-07-24,<NA>,Needs improvement,<NA>,139
44,Anil,Patel,anil49@outlook.com,2023-01-08,<NA>,Needs improvement,1736,<NA>
46,Anil,Lee,anil@yahoo.com,2022-12-13,39447,Good employee,<NA>,90
47,Wei,Kumar,wei13@outlook.com,2020-07-04,<NA>,Good employee,3520,142
48,Yuki,Patel,yuki31@outlook.com,2020-12-14,87071,<NA>,836,144
49,Yuki,Kumar,yuki53@gmail.com,NaT,<NA>,Good employee,2827,<NA>
51,Michael,Patel,michael46@yahoo.com,2023-01-11,37204,<NA>,4665,83
52,Luis,Smith,luis96@gmail.com,2020-12-22,78609,Needs improvement,3470,<NA>

In [ ]:
#10. remarks - unknown, email - unknown@no_mail.com

df['remarks'] = df['remarks'].fillna('unknown')
df['email'] = df['email'].fillna('unknown@no_mail.com')
df

,first_name,last_name,email,join_date,salary,remarks,sales,time_productive
0,Yuki,Tanaka,yuki34@outlook.com,2021-10-09,<NA>,Good employee,4133,85
1,Wei,Singh,wei@gmail.com,2021-10-09,<NA>,Good employee,3138,<NA>
2,Olga,Kumar,unknown@no_mail.com,2022-11-02,52872,Needs improvement,<NA>,<NA>
3,Sara,Patel,sara78@yahoo.com,2021-06-25,78655,unknown,2915,<NA>
4,Luis,Kumar,luis@gmail.com,2023-07-22,62016,Good employee,4641,92
5,Fatima,Garcia,fatima@yahoo.com,2020-01-08,<NA>,unknown,2261,<NA>
7,Michael,Kumar,michael43@outlook.com,2024-11-05,87764,unknown,<NA>,<NA>
8,Priya,Garcia,priya@yahoo.com,NaT,37084,Good employee,2588,168
9,Wei,Chen,wei4@gmail.com,2022-11-09,<NA>,Needs improvement,1263,157
10,Michael,Tanaka,michael41@outlook.com,2021-06-27,58479,unknown,1291,85
11,Olga,Garcia,olga25@outlook.com,2022-04-16,75692,unknown,921,91
12,Fatima,Patel,fatima27@outlook.com,2023-03-11,56612,unknown,3059,87
13,Yuki,Chen,yuki95@yahoo.com,2022-06-23,<NA>,unknown,4656,106
14,Sara,Garcia,sara@yahoo.com,NaT,70583,unknown,4450,56
15,Anil,Brown,anil52@yahoo.com,NaT,<NA>,Good employee,2352,110
16,Sara,Singh,sara97@outlook.com,2024-06-29,<NA>,unknown,<NA>,57
17,Olga,Brown,olga@outlook.com,2023-01-27,<NA>,Needs improvement,3283,135
19,Priya,Lee,priya54@outlook.com,2022-04-14,60534,unknown,<NA>,51
20,John,Tanaka,john@outlook.com,2022-02-18,49569,unknown,2262,115
21,Anil,Chen,anil11@outlook.com,2024-04-07,79283,Good employee,<NA>,167
22,Olga,Smith,olga4@yahoo.com,NaT,<NA>,Good employee,1168,<NA>
24,Yuki,Smith,yuki@yahoo.com,NaT,54596,Good employee,2265,<NA>
25,Luis,Ivanova,luis54@outlook.com,2023-09-16,<NA>,Good employee,<NA>,71
26,Yuki,Ivanova,yuki42@yahoo.com,2022-09-17,<NA>,Good employee,3737,149
29,Luis,Singh,luis90@outlook.com,2022-12-23,<NA>,Needs improvement,<NA>,<NA>
30,Priya,Kumar,priya13@yahoo.com,2022-09-18,<NA>,Needs improvement,1090,<NA>
31,Michael,Singh,michael44@yahoo.com,2020-07-29,48634,Good employee,1137,59
35,Anil,Tanaka,anil59@gmail.com,2022-08-20,<NA>,unknown,1221,<NA>
38,John,Garcia,john36@yahoo.com,2023-03-26,<NA>,unknown,<NA>,<NA>
39,Anil,Garcia,anil42@gmail.com,NaT,32404,Needs improvement,3362,70
40,Anil,Smith,anil@outlook.com,NaT,48876,Good employee,1699,70
43,Anil,Kumar,anil18@gmail.com,2022-07-24,<NA>,Needs improvement,<NA>,139
44,Anil,Patel,anil49@outlook.com,2023-01-08,<NA>,Needs improvement,1736,<NA>
46,Anil,Lee,anil@yahoo.com,2022-12-13,39447,Good employee,<NA>,90
47,Wei,Kumar,wei13@outlook.com,2020-07-04,<NA>,Good employee,3520,142
48,Yuki,Patel,yuki31@outlook.com,2020-12-14,87071,unknown,836,144
49,Yuki,Kumar,yuki53@gmail.com,NaT,<NA>,Good employee,2827,<NA>
51,Michael,Patel,michael46@yahoo.com,2023-01-11,37204,unknown,4665,83
52,Luis,Smith,luis96@gmail.com,2020-12-22,78609,Needs improvement,3470,<NA>

In [12]:
df.shape

(39, 8)

In [ ]:
# 11. Save cleaned dataframe to new csv file name as aus_ccx_21_cleaned.csv 

df.to_csv('aus_ccx_21_cleaned.csv', index=False)

## 4. Data Validation and Business Logic

This section applies rule-based logic to validate employee data and calculate increment percentages based on performance criteria.

Business Insight

In [ ]:
# My upcoming tasks :

#As part of the sales-based increment framework :

# The Highest recorded sales
# The central average
# The middle point of distribution
# the most frequently observed value

In [15]:
print('The Highest recorded sales', df['sales'].max()) # The Highest recorded sales
print('The central average', df['sales'].mean())  # The central average
print('The middle point of distribution', df['sales'].median())  # The middle point of distribution
print('The most frequently observed value', df['sales'].mode()[0])  # the most frequently observed value

The Highest recorded sales 4665
The central average 2618.8275862068967
The middle point of distribution 2588.0
The most frequently observed value 836

In [16]:
#Increment framework based on sales performance and add a new column 'Increment_percentage' to the dataframe with the following criteria:

# Above 4000 sales - 12% increment (Top achievers)
# 2000 - 3500 sales - 10% increment (Above baseline achievers)
# 800 - 1500 sales - 8% increment (Average performers)
# Outside these ranges - "None" (No increment)

In [17]:
df['Increment_percentage'] = None
df.loc[df['sales'] >= 4000, 'Increment_percentage'] = 12
df.loc[(df['sales'] >= 2000) & (df['sales'] <= 3500), 'Increment_percentage'] = 10
df.loc[(df['sales']>= 800) & (df['sales'] <= 1500), 'Increment_percentage'] = 8
df

,first_name,last_name,email,join_date,salary,remarks,sales,time_productive,Increment_percentage
0,Yuki,Tanaka,yuki34@outlook.com,2021-10-09,<NA>,Good employee,4133,85,12
1,Wei,Singh,wei@gmail.com,2021-10-09,<NA>,Good employee,3138,<NA>,10
2,Olga,Kumar,unknown@no_mail.com,2022-11-02,52872,Needs improvement,<NA>,<NA>,None
3,Sara,Patel,sara78@yahoo.com,2021-06-25,78655,unknown,2915,<NA>,10
4,Luis,Kumar,luis@gmail.com,2023-07-22,62016,Good employee,4641,92,12
5,Fatima,Garcia,fatima@yahoo.com,2020-01-08,<NA>,unknown,2261,<NA>,10
7,Michael,Kumar,michael43@outlook.com,2024-11-05,87764,unknown,<NA>,<NA>,None
8,Priya,Garcia,priya@yahoo.com,NaT,37084,Good employee,2588,168,10
9,Wei,Chen,wei4@gmail.com,2022-11-09,<NA>,Needs improvement,1263,157,8
10,Michael,Tanaka,michael41@outlook.com,2021-06-27,58479,unknown,1291,85,8
11,Olga,Garcia,olga25@outlook.com,2022-04-16,75692,unknown,921,91,8
12,Fatima,Patel,fatima27@outlook.com,2023-03-11,56612,unknown,3059,87,10
13,Yuki,Chen,yuki95@yahoo.com,2022-06-23,<NA>,unknown,4656,106,12
14,Sara,Garcia,sara@yahoo.com,NaT,70583,unknown,4450,56,12
15,Anil,Brown,anil52@yahoo.com,NaT,<NA>,Good employee,2352,110,10
16,Sara,Singh,sara97@outlook.com,2024-06-29,<NA>,unknown,<NA>,57,None
17,Olga,Brown,olga@outlook.com,2023-01-27,<NA>,Needs improvement,3283,135,10
19,Priya,Lee,priya54@outlook.com,2022-04-14,60534,unknown,<NA>,51,None
20,John,Tanaka,john@outlook.com,2022-02-18,49569,unknown,2262,115,10
21,Anil,Chen,anil11@outlook.com,2024-04-07,79283,Good employee,<NA>,167,None
22,Olga,Smith,olga4@yahoo.com,NaT,<NA>,Good employee,1168,<NA>,8
24,Yuki,Smith,yuki@yahoo.com,NaT,54596,Good employee,2265,<NA>,10
25,Luis,Ivanova,luis54@outlook.com,2023-09-16,<NA>,Good employee,<NA>,71,None
26,Yuki,Ivanova,yuki42@yahoo.com,2022-09-17,<NA>,Good employee,3737,149,None
29,Luis,Singh,luis90@outlook.com,2022-12-23,<NA>,Needs improvement,<NA>,<NA>,None
30,Priya,Kumar,priya13@yahoo.com,2022-09-18,<NA>,Needs improvement,1090,<NA>,8
31,Michael,Singh,michael44@yahoo.com,2020-07-29,48634,Good employee,1137,59,8
35,Anil,Tanaka,anil59@gmail.com,2022-08-20,<NA>,unknown,1221,<NA>,8
38,John,Garcia,john36@yahoo.com,2023-03-26,<NA>,unknown,<NA>,<NA>,None
39,Anil,Garcia,anil42@gmail.com,NaT,32404,Needs improvement,3362,70,10
40,Anil,Smith,anil@outlook.com,NaT,48876,Good employee,1699,70,None
43,Anil,Kumar,anil18@gmail.com,2022-07-24,<NA>,Needs improvement,<NA>,139,None
44,Anil,Patel,anil49@outlook.com,2023-01-08,<NA>,Needs improvement,1736,<NA>,None
46,Anil,Lee,anil@yahoo.com,2022-12-13,39447,Good employee,<NA>,90,None
47,Wei,Kumar,wei13@outlook.com,2020-07-04,<NA>,Good employee,3520,142,None
48,Yuki,Patel,yuki31@outlook.com,2020-12-14,87071,unknown,836,144,8
49,Yuki,Kumar,yuki53@gmail.com,NaT,<NA>,Good employee,2827,<NA>,10
51,Michael,Patel,michael46@yahoo.com,2023-01-11,37204,unknown,4665,83,12
52,Luis,Smith,luis96@gmail.com,2020-12-22,78609,Needs improvement,3470,<NA>,10

In [18]:
# default 3% increment for all employees
# Final_incremented_salary(give the same as column name)

In [19]:
df.loc[df['Increment_percentage'].isna(), 'Increment_percentage'] = 3
df

,first_name,last_name,email,join_date,salary,remarks,sales,time_productive,Increment_percentage
0,Yuki,Tanaka,yuki34@outlook.com,2021-10-09,<NA>,Good employee,4133,85,12
1,Wei,Singh,wei@gmail.com,2021-10-09,<NA>,Good employee,3138,<NA>,10
2,Olga,Kumar,unknown@no_mail.com,2022-11-02,52872,Needs improvement,<NA>,<NA>,3
3,Sara,Patel,sara78@yahoo.com,2021-06-25,78655,unknown,2915,<NA>,10
4,Luis,Kumar,luis@gmail.com,2023-07-22,62016,Good employee,4641,92,12
5,Fatima,Garcia,fatima@yahoo.com,2020-01-08,<NA>,unknown,2261,<NA>,10
7,Michael,Kumar,michael43@outlook.com,2024-11-05,87764,unknown,<NA>,<NA>,3
8,Priya,Garcia,priya@yahoo.com,NaT,37084,Good employee,2588,168,10
9,Wei,Chen,wei4@gmail.com,2022-11-09,<NA>,Needs improvement,1263,157,8
10,Michael,Tanaka,michael41@outlook.com,2021-06-27,58479,unknown,1291,85,8
11,Olga,Garcia,olga25@outlook.com,2022-04-16,75692,unknown,921,91,8
12,Fatima,Patel,fatima27@outlook.com,2023-03-11,56612,unknown,3059,87,10
13,Yuki,Chen,yuki95@yahoo.com,2022-06-23,<NA>,unknown,4656,106,12
14,Sara,Garcia,sara@yahoo.com,NaT,70583,unknown,4450,56,12
15,Anil,Brown,anil52@yahoo.com,NaT,<NA>,Good employee,2352,110,10
16,Sara,Singh,sara97@outlook.com,2024-06-29,<NA>,unknown,<NA>,57,3
17,Olga,Brown,olga@outlook.com,2023-01-27,<NA>,Needs improvement,3283,135,10
19,Priya,Lee,priya54@outlook.com,2022-04-14,60534,unknown,<NA>,51,3
20,John,Tanaka,john@outlook.com,2022-02-18,49569,unknown,2262,115,10
21,Anil,Chen,anil11@outlook.com,2024-04-07,79283,Good employee,<NA>,167,3
22,Olga,Smith,olga4@yahoo.com,NaT,<NA>,Good employee,1168,<NA>,8
24,Yuki,Smith,yuki@yahoo.com,NaT,54596,Good employee,2265,<NA>,10
25,Luis,Ivanova,luis54@outlook.com,2023-09-16,<NA>,Good employee,<NA>,71,3
26,Yuki,Ivanova,yuki42@yahoo.com,2022-09-17,<NA>,Good employee,3737,149,3
29,Luis,Singh,luis90@outlook.com,2022-12-23,<NA>,Needs improvement,<NA>,<NA>,3
30,Priya,Kumar,priya13@yahoo.com,2022-09-18,<NA>,Needs improvement,1090,<NA>,8
31,Michael,Singh,michael44@yahoo.com,2020-07-29,48634,Good employee,1137,59,8
35,Anil,Tanaka,anil59@gmail.com,2022-08-20,<NA>,unknown,1221,<NA>,8
38,John,Garcia,john36@yahoo.com,2023-03-26,<NA>,unknown,<NA>,<NA>,3
39,Anil,Garcia,anil42@gmail.com,NaT,32404,Needs improvement,3362,70,10
40,Anil,Smith,anil@outlook.com,NaT,48876,Good employee,1699,70,3
43,Anil,Kumar,anil18@gmail.com,2022-07-24,<NA>,Needs improvement,<NA>,139,3
44,Anil,Patel,anil49@outlook.com,2023-01-08,<NA>,Needs improvement,1736,<NA>,3
46,Anil,Lee,anil@yahoo.com,2022-12-13,39447,Good employee,<NA>,90,3
47,Wei,Kumar,wei13@outlook.com,2020-07-04,<NA>,Good employee,3520,142,3
48,Yuki,Patel,yuki31@outlook.com,2020-12-14,87071,unknown,836,144,8
49,Yuki,Kumar,yuki53@gmail.com,NaT,<NA>,Good employee,2827,<NA>,10
51,Michael,Patel,michael46@yahoo.com,2023-01-11,37204,unknown,4665,83,12
52,Luis,Smith,luis96@gmail.com,2020-12-22,78609,Needs improvement,3470,<NA>,10

In [20]:
df['Final_incremented_salary'] = df['salary'] * (1 + df['Increment_percentage'].fillna(3) / 100)
df
# 19 employee salary is not present so their final incremented salary will also be NaN

C:\Users\Suman\AppData\Local\Temp\ipykernel_9704\4144161297.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Final_incremented_salary'] = df['salary'] * (1 + df['Increment_percentage'].fillna(3) / 100)

,first_name,last_name,email,join_date,salary,remarks,sales,time_productive,Increment_percentage,Final_incremented_salary
0,Yuki,Tanaka,yuki34@outlook.com,2021-10-09,<NA>,Good employee,4133,85,12,<NA>
1,Wei,Singh,wei@gmail.com,2021-10-09,<NA>,Good employee,3138,<NA>,10,<NA>
2,Olga,Kumar,unknown@no_mail.com,2022-11-02,52872,Needs improvement,<NA>,<NA>,3,54458.16
3,Sara,Patel,sara78@yahoo.com,2021-06-25,78655,unknown,2915,<NA>,10,86520.5
4,Luis,Kumar,luis@gmail.com,2023-07-22,62016,Good employee,4641,92,12,69457.92
5,Fatima,Garcia,fatima@yahoo.com,2020-01-08,<NA>,unknown,2261,<NA>,10,<NA>
7,Michael,Kumar,michael43@outlook.com,2024-11-05,87764,unknown,<NA>,<NA>,3,90396.92
8,Priya,Garcia,priya@yahoo.com,NaT,37084,Good employee,2588,168,10,40792.4
9,Wei,Chen,wei4@gmail.com,2022-11-09,<NA>,Needs improvement,1263,157,8,<NA>
10,Michael,Tanaka,michael41@outlook.com,2021-06-27,58479,unknown,1291,85,8,63157.32
11,Olga,Garcia,olga25@outlook.com,2022-04-16,75692,unknown,921,91,8,81747.36
12,Fatima,Patel,fatima27@outlook.com,2023-03-11,56612,unknown,3059,87,10,62273.2
13,Yuki,Chen,yuki95@yahoo.com,2022-06-23,<NA>,unknown,4656,106,12,<NA>
14,Sara,Garcia,sara@yahoo.com,NaT,70583,unknown,4450,56,12,79052.96
15,Anil,Brown,anil52@yahoo.com,NaT,<NA>,Good employee,2352,110,10,<NA>
16,Sara,Singh,sara97@outlook.com,2024-06-29,<NA>,unknown,<NA>,57,3,<NA>
17,Olga,Brown,olga@outlook.com,2023-01-27,<NA>,Needs improvement,3283,135,10,<NA>
19,Priya,Lee,priya54@outlook.com,2022-04-14,60534,unknown,<NA>,51,3,62350.02
20,John,Tanaka,john@outlook.com,2022-02-18,49569,unknown,2262,115,10,54525.9
21,Anil,Chen,anil11@outlook.com,2024-04-07,79283,Good employee,<NA>,167,3,81661.49
22,Olga,Smith,olga4@yahoo.com,NaT,<NA>,Good employee,1168,<NA>,8,<NA>
24,Yuki,Smith,yuki@yahoo.com,NaT,54596,Good employee,2265,<NA>,10,60055.6
25,Luis,Ivanova,luis54@outlook.com,2023-09-16,<NA>,Good employee,<NA>,71,3,<NA>
26,Yuki,Ivanova,yuki42@yahoo.com,2022-09-17,<NA>,Good employee,3737,149,3,<NA>
29,Luis,Singh,luis90@outlook.com,2022-12-23,<NA>,Needs improvement,<NA>,<NA>,3,<NA>
30,Priya,Kumar,priya13@yahoo.com,2022-09-18,<NA>,Needs improvement,1090,<NA>,8,<NA>
31,Michael,Singh,michael44@yahoo.com,2020-07-29,48634,Good employee,1137,59,8,52524.72
35,Anil,Tanaka,anil59@gmail.com,2022-08-20,<NA>,unknown,1221,<NA>,8,<NA>
38,John,Garcia,john36@yahoo.com,2023-03-26,<NA>,unknown,<NA>,<NA>,3,<NA>
39,Anil,Garcia,anil42@gmail.com,NaT,32404,Needs improvement,3362,70,10,35644.4
40,Anil,Smith,anil@outlook.com,NaT,48876,Good employee,1699,70,3,50342.28
43,Anil,Kumar,anil18@gmail.com,2022-07-24,<NA>,Needs improvement,<NA>,139,3,<NA>
44,Anil,Patel,anil49@outlook.com,2023-01-08,<NA>,Needs improvement,1736,<NA>,3,<NA>
46,Anil,Lee,anil@yahoo.com,2022-12-13,39447,Good employee,<NA>,90,3,40630.41
47,Wei,Kumar,wei13@outlook.com,2020-07-04,<NA>,Good employee,3520,142,3,<NA>
48,Yuki,Patel,yuki31@outlook.com,2020-12-14,87071,unknown,836,144,8,94036.68
49,Yuki,Kumar,yuki53@gmail.com,NaT,<NA>,Good employee,2827,<NA>,10,<NA>
51,Michael,Patel,michael46@yahoo.com,2023-01-11,37204,unknown,4665,83,12,41668.48
52,Luis,Smith,luis96@gmail.com,2020-12-22,78609,Needs improvement,3470,<NA>,10,86469.9

In [21]:
df['salary'].isna().sum()
df.describe()

,join_date,salary,sales,time_productive,Final_incremented_salary
count,31,20.0,29.0,25.0,20.0
mean,2022-06-30 10:50:19.354838784,59799.2,2618.827586,103.16,64388.331
min,2020-01-08 00:00:00,32404.0,836.0,51.0,35644.4
25%,2021-10-09 00:00:00,48815.5,1291.0,71.0,51979.11
50%,2022-09-17 00:00:00,57545.5,2588.0,91.0,62311.61
75%,2023-01-19 00:00:00,76421.25,3470.0,139.0,81682.9575
max,2024-11-05 00:00:00,87764.0,4665.0,168.0,94036.68
std,NaN,17192.260895,1236.054901,37.070518,18352.95895

## 4. Loading Cleaned Dataset for Decision Analysis

After initial data cleaning, a refined version of the dataset is loaded to apply business rules and decision-making logic.

### 4.1 Load Cleaned Dataset

In [22]:
df_new = pd.read_csv(r"E:\python\projects (all)\python & visualization\first py project\aus_ccx_21_cln_hr.csv")
df_new

,first_name,last_name,email,join_date,salary,remarks,sales,time_productive,increment_percentage,final_incremented_salary
0,Yuki,Tanaka,yuki34@outlook.com,09/10/2021,98000,Good employee,4133.0,85.0,12,NaN
1,Wei,Singh,wei@gmail.com,09/10/2021,58222,Good employee,3138.0,NaN,10,NaN
2,Olga,Kumar,unknown@no_mail.com,02/11/2022,52872,Needs improvement,NaN,NaN,3,54458.16
3,Sara,Patel,sara78@yahoo.com,25/06/2021,78655,unknown,2915.0,NaN,10,86520.50
4,Luis,Kumar,luis@gmail.com,22/07/2023,62016,Good employee,4641.0,92.0,12,69457.92
5,Fatima,Garcia,fatima@yahoo.com,08/01/2020,45968,unknown,2261.0,NaN,10,NaN
6,Michael,Kumar,michael43@outlook.com,05/11/2024,87764,unknown,NaN,NaN,3,90396.92
7,Priya,Garcia,priya@yahoo.com,NaN,37084,Good employee,2588.0,168.0,10,40792.40
8,Wei,Chen,wei4@gmail.com,09/11/2022,85000,Needs improvement,1263.0,157.0,8,NaN
9,Michael,Tanaka,michael41@outlook.com,27/06/2021,58479,unknown,1291.0,85.0,8,63157.32
10,Olga,Garcia,olga25@outlook.com,16/04/2022,75692,unknown,921.0,91.0,8,81747.36
11,Fatima,Patel,fatima27@outlook.com,11/03/2023,56612,unknown,3059.0,87.0,10,62273.20
12,Yuki,Chen,yuki95@yahoo.com,23/06/2022,57222,unknown,4656.0,106.0,12,NaN
13,Sara,Garcia,sara@yahoo.com,NaN,70583,unknown,4450.0,56.0,12,79052.96
14,Anil,Brown,anil52@yahoo.com,NaN,66855,Good employee,2352.0,110.0,10,NaN
15,Sara,Singh,sara97@outlook.com,29/06/2024,45858,unknown,NaN,57.0,3,NaN
16,Olga,Brown,olga@outlook.com,27/01/2023,57884,Needs improvement,3283.0,135.0,10,NaN
17,Priya,Lee,priya54@outlook.com,14/04/2022,60534,unknown,NaN,51.0,3,62350.02
18,John,Tanaka,john@outlook.com,18/02/2022,49569,unknown,2262.0,115.0,10,54525.90
19,Anil,Chen,anil11@outlook.com,07/04/2024,79283,Good employee,NaN,167.0,3,81661.49
20,Olga,Smith,olga4@yahoo.com,NaN,58774,Good employee,1168.0,NaN,8,NaN
21,Yuki,Smith,yuki@yahoo.com,NaN,54596,Good employee,2265.0,NaN,10,60055.60
22,Luis,Ivanova,luis54@outlook.com,16/09/2023,78547,Good employee,NaN,71.0,3,NaN
23,Yuki,Ivanova,yuki42@yahoo.com,17/09/2022,68458,Good employee,3737.0,149.0,3,NaN
24,Luis,Singh,luis90@outlook.com,23/12/2022,45785,Needs improvement,NaN,NaN,3,NaN
25,Priya,Kumar,priya13@yahoo.com,18/09/2022,58745,Needs improvement,1090.0,NaN,8,NaN
26,Michael,Singh,michael44@yahoo.com,29/07/2020,48634,Good employee,1137.0,59.0,8,52524.72
27,Anil,Tanaka,anil59@gmail.com,20/08/2022,88785,unknown,1221.0,NaN,8,NaN
28,John,Garcia,john36@yahoo.com,26/03/2023,66455,unknown,NaN,NaN,3,NaN
29,Anil,Garcia,anil42@gmail.com,NaN,32404,Needs improvement,3362.0,70.0,10,35644.40
30,Anil,Smith,anil@outlook.com,NaN,48876,Good employee,1699.0,70.0,3,50342.28
31,Anil,Kumar,anil18@gmail.com,24/07/2022,68554,Needs improvement,NaN,139.0,3,NaN
32,Anil,Patel,anil49@outlook.com,08/01/2023,87554,Needs improvement,1736.0,NaN,3,NaN
33,Anil,Lee,anil@yahoo.com,13/12/2022,39447,Good employee,NaN,90.0,3,40630.41
34,Wei,Kumar,wei13@outlook.com,04/07/2020,66884,Good employee,3520.0,142.0,3,NaN
35,Yuki,Patel,yuki31@outlook.com,14/12/2020,87071,unknown,836.0,144.0,8,94036.68
36,Yuki,Kumar,yuki53@gmail.com,NaN,78554,Good employee,2827.0,NaN,10,NaN
37,Michael,Patel,michael46@yahoo.com,11/01/2023,37204,unknown,4665.0,83.0,12,41668.48
38,Luis,Smith,luis96@gmail.com,22/12/2020,78609,Needs improvement,3470.0,NaN,10,86469.90

In [23]:
df = df_new
df

,first_name,last_name,email,join_date,salary,remarks,sales,time_productive,increment_percentage,final_incremented_salary
0,Yuki,Tanaka,yuki34@outlook.com,09/10/2021,98000,Good employee,4133.0,85.0,12,NaN
1,Wei,Singh,wei@gmail.com,09/10/2021,58222,Good employee,3138.0,NaN,10,NaN
2,Olga,Kumar,unknown@no_mail.com,02/11/2022,52872,Needs improvement,NaN,NaN,3,54458.16
3,Sara,Patel,sara78@yahoo.com,25/06/2021,78655,unknown,2915.0,NaN,10,86520.50
4,Luis,Kumar,luis@gmail.com,22/07/2023,62016,Good employee,4641.0,92.0,12,69457.92
5,Fatima,Garcia,fatima@yahoo.com,08/01/2020,45968,unknown,2261.0,NaN,10,NaN
6,Michael,Kumar,michael43@outlook.com,05/11/2024,87764,unknown,NaN,NaN,3,90396.92
7,Priya,Garcia,priya@yahoo.com,NaN,37084,Good employee,2588.0,168.0,10,40792.40
8,Wei,Chen,wei4@gmail.com,09/11/2022,85000,Needs improvement,1263.0,157.0,8,NaN
9,Michael,Tanaka,michael41@outlook.com,27/06/2021,58479,unknown,1291.0,85.0,8,63157.32
10,Olga,Garcia,olga25@outlook.com,16/04/2022,75692,unknown,921.0,91.0,8,81747.36
11,Fatima,Patel,fatima27@outlook.com,11/03/2023,56612,unknown,3059.0,87.0,10,62273.20
12,Yuki,Chen,yuki95@yahoo.com,23/06/2022,57222,unknown,4656.0,106.0,12,NaN
13,Sara,Garcia,sara@yahoo.com,NaN,70583,unknown,4450.0,56.0,12,79052.96
14,Anil,Brown,anil52@yahoo.com,NaN,66855,Good employee,2352.0,110.0,10,NaN
15,Sara,Singh,sara97@outlook.com,29/06/2024,45858,unknown,NaN,57.0,3,NaN
16,Olga,Brown,olga@outlook.com,27/01/2023,57884,Needs improvement,3283.0,135.0,10,NaN
17,Priya,Lee,priya54@outlook.com,14/04/2022,60534,unknown,NaN,51.0,3,62350.02
18,John,Tanaka,john@outlook.com,18/02/2022,49569,unknown,2262.0,115.0,10,54525.90
19,Anil,Chen,anil11@outlook.com,07/04/2024,79283,Good employee,NaN,167.0,3,81661.49
20,Olga,Smith,olga4@yahoo.com,NaN,58774,Good employee,1168.0,NaN,8,NaN
21,Yuki,Smith,yuki@yahoo.com,NaN,54596,Good employee,2265.0,NaN,10,60055.60
22,Luis,Ivanova,luis54@outlook.com,16/09/2023,78547,Good employee,NaN,71.0,3,NaN
23,Yuki,Ivanova,yuki42@yahoo.com,17/09/2022,68458,Good employee,3737.0,149.0,3,NaN
24,Luis,Singh,luis90@outlook.com,23/12/2022,45785,Needs improvement,NaN,NaN,3,NaN
25,Priya,Kumar,priya13@yahoo.com,18/09/2022,58745,Needs improvement,1090.0,NaN,8,NaN
26,Michael,Singh,michael44@yahoo.com,29/07/2020,48634,Good employee,1137.0,59.0,8,52524.72
27,Anil,Tanaka,anil59@gmail.com,20/08/2022,88785,unknown,1221.0,NaN,8,NaN
28,John,Garcia,john36@yahoo.com,26/03/2023,66455,unknown,NaN,NaN,3,NaN
29,Anil,Garcia,anil42@gmail.com,NaN,32404,Needs improvement,3362.0,70.0,10,35644.40
30,Anil,Smith,anil@outlook.com,NaN,48876,Good employee,1699.0,70.0,3,50342.28
31,Anil,Kumar,anil18@gmail.com,24/07/2022,68554,Needs improvement,NaN,139.0,3,NaN
32,Anil,Patel,anil49@outlook.com,08/01/2023,87554,Needs improvement,1736.0,NaN,3,NaN
33,Anil,Lee,anil@yahoo.com,13/12/2022,39447,Good employee,NaN,90.0,3,40630.41
34,Wei,Kumar,wei13@outlook.com,04/07/2020,66884,Good employee,3520.0,142.0,3,NaN
35,Yuki,Patel,yuki31@outlook.com,14/12/2020,87071,unknown,836.0,144.0,8,94036.68
36,Yuki,Kumar,yuki53@gmail.com,NaN,78554,Good employee,2827.0,NaN,10,NaN
37,Michael,Patel,michael46@yahoo.com,11/01/2023,37204,unknown,4665.0,83.0,12,41668.48
38,Luis,Smith,luis96@gmail.com,22/12/2020,78609,Needs improvement,3470.0,NaN,10,86469.90

### 4.2 Validation of Critical Fields

In [24]:
df['salary'].isna().sum()

np.int64(0)

### 4.3 Final Salary Calculation Logic

In [25]:
df.drop(columns= 'final_incremented_salary', inplace=True, errors = 'ignore')
df

,first_name,last_name,email,join_date,salary,remarks,sales,time_productive,increment_percentage
0,Yuki,Tanaka,yuki34@outlook.com,09/10/2021,98000,Good employee,4133.0,85.0,12
1,Wei,Singh,wei@gmail.com,09/10/2021,58222,Good employee,3138.0,NaN,10
2,Olga,Kumar,unknown@no_mail.com,02/11/2022,52872,Needs improvement,NaN,NaN,3
3,Sara,Patel,sara78@yahoo.com,25/06/2021,78655,unknown,2915.0,NaN,10
4,Luis,Kumar,luis@gmail.com,22/07/2023,62016,Good employee,4641.0,92.0,12
5,Fatima,Garcia,fatima@yahoo.com,08/01/2020,45968,unknown,2261.0,NaN,10
6,Michael,Kumar,michael43@outlook.com,05/11/2024,87764,unknown,NaN,NaN,3
7,Priya,Garcia,priya@yahoo.com,NaN,37084,Good employee,2588.0,168.0,10
8,Wei,Chen,wei4@gmail.com,09/11/2022,85000,Needs improvement,1263.0,157.0,8
9,Michael,Tanaka,michael41@outlook.com,27/06/2021,58479,unknown,1291.0,85.0,8
10,Olga,Garcia,olga25@outlook.com,16/04/2022,75692,unknown,921.0,91.0,8
11,Fatima,Patel,fatima27@outlook.com,11/03/2023,56612,unknown,3059.0,87.0,10
12,Yuki,Chen,yuki95@yahoo.com,23/06/2022,57222,unknown,4656.0,106.0,12
13,Sara,Garcia,sara@yahoo.com,NaN,70583,unknown,4450.0,56.0,12
14,Anil,Brown,anil52@yahoo.com,NaN,66855,Good employee,2352.0,110.0,10
15,Sara,Singh,sara97@outlook.com,29/06/2024,45858,unknown,NaN,57.0,3
16,Olga,Brown,olga@outlook.com,27/01/2023,57884,Needs improvement,3283.0,135.0,10
17,Priya,Lee,priya54@outlook.com,14/04/2022,60534,unknown,NaN,51.0,3
18,John,Tanaka,john@outlook.com,18/02/2022,49569,unknown,2262.0,115.0,10
19,Anil,Chen,anil11@outlook.com,07/04/2024,79283,Good employee,NaN,167.0,3
20,Olga,Smith,olga4@yahoo.com,NaN,58774,Good employee,1168.0,NaN,8
21,Yuki,Smith,yuki@yahoo.com,NaN,54596,Good employee,2265.0,NaN,10
22,Luis,Ivanova,luis54@outlook.com,16/09/2023,78547,Good employee,NaN,71.0,3
23,Yuki,Ivanova,yuki42@yahoo.com,17/09/2022,68458,Good employee,3737.0,149.0,3
24,Luis,Singh,luis90@outlook.com,23/12/2022,45785,Needs improvement,NaN,NaN,3
25,Priya,Kumar,priya13@yahoo.com,18/09/2022,58745,Needs improvement,1090.0,NaN,8
26,Michael,Singh,michael44@yahoo.com,29/07/2020,48634,Good employee,1137.0,59.0,8
27,Anil,Tanaka,anil59@gmail.com,20/08/2022,88785,unknown,1221.0,NaN,8
28,John,Garcia,john36@yahoo.com,26/03/2023,66455,unknown,NaN,NaN,3
29,Anil,Garcia,anil42@gmail.com,NaN,32404,Needs improvement,3362.0,70.0,10
30,Anil,Smith,anil@outlook.com,NaN,48876,Good employee,1699.0,70.0,3
31,Anil,Kumar,anil18@gmail.com,24/07/2022,68554,Needs improvement,NaN,139.0,3
32,Anil,Patel,anil49@outlook.com,08/01/2023,87554,Needs improvement,1736.0,NaN,3
33,Anil,Lee,anil@yahoo.com,13/12/2022,39447,Good employee,NaN,90.0,3
34,Wei,Kumar,wei13@outlook.com,04/07/2020,66884,Good employee,3520.0,142.0,3
35,Yuki,Patel,yuki31@outlook.com,14/12/2020,87071,unknown,836.0,144.0,8
36,Yuki,Kumar,yuki53@gmail.com,NaN,78554,Good employee,2827.0,NaN,10
37,Michael,Patel,michael46@yahoo.com,11/01/2023,37204,unknown,4665.0,83.0,12
38,Luis,Smith,luis96@gmail.com,22/12/2020,78609,Needs improvement,3470.0,NaN,10

In [26]:
df['final_incremented_salary'] = df['salary'] * (1 + df['increment_percentage'].fillna(3) / 100)
df

,first_name,last_name,email,join_date,salary,remarks,sales,time_productive,increment_percentage,final_incremented_salary
0,Yuki,Tanaka,yuki34@outlook.com,09/10/2021,98000,Good employee,4133.0,85.0,12,109760.00
1,Wei,Singh,wei@gmail.com,09/10/2021,58222,Good employee,3138.0,NaN,10,64044.20
2,Olga,Kumar,unknown@no_mail.com,02/11/2022,52872,Needs improvement,NaN,NaN,3,54458.16
3,Sara,Patel,sara78@yahoo.com,25/06/2021,78655,unknown,2915.0,NaN,10,86520.50
4,Luis,Kumar,luis@gmail.com,22/07/2023,62016,Good employee,4641.0,92.0,12,69457.92
5,Fatima,Garcia,fatima@yahoo.com,08/01/2020,45968,unknown,2261.0,NaN,10,50564.80
6,Michael,Kumar,michael43@outlook.com,05/11/2024,87764,unknown,NaN,NaN,3,90396.92
7,Priya,Garcia,priya@yahoo.com,NaN,37084,Good employee,2588.0,168.0,10,40792.40
8,Wei,Chen,wei4@gmail.com,09/11/2022,85000,Needs improvement,1263.0,157.0,8,91800.00
9,Michael,Tanaka,michael41@outlook.com,27/06/2021,58479,unknown,1291.0,85.0,8,63157.32
10,Olga,Garcia,olga25@outlook.com,16/04/2022,75692,unknown,921.0,91.0,8,81747.36
11,Fatima,Patel,fatima27@outlook.com,11/03/2023,56612,unknown,3059.0,87.0,10,62273.20
12,Yuki,Chen,yuki95@yahoo.com,23/06/2022,57222,unknown,4656.0,106.0,12,64088.64
13,Sara,Garcia,sara@yahoo.com,NaN,70583,unknown,4450.0,56.0,12,79052.96
14,Anil,Brown,anil52@yahoo.com,NaN,66855,Good employee,2352.0,110.0,10,73540.50
15,Sara,Singh,sara97@outlook.com,29/06/2024,45858,unknown,NaN,57.0,3,47233.74
16,Olga,Brown,olga@outlook.com,27/01/2023,57884,Needs improvement,3283.0,135.0,10,63672.40
17,Priya,Lee,priya54@outlook.com,14/04/2022,60534,unknown,NaN,51.0,3,62350.02
18,John,Tanaka,john@outlook.com,18/02/2022,49569,unknown,2262.0,115.0,10,54525.90
19,Anil,Chen,anil11@outlook.com,07/04/2024,79283,Good employee,NaN,167.0,3,81661.49
20,Olga,Smith,olga4@yahoo.com,NaN,58774,Good employee,1168.0,NaN,8,63475.92
21,Yuki,Smith,yuki@yahoo.com,NaN,54596,Good employee,2265.0,NaN,10,60055.60
22,Luis,Ivanova,luis54@outlook.com,16/09/2023,78547,Good employee,NaN,71.0,3,80903.41
23,Yuki,Ivanova,yuki42@yahoo.com,17/09/2022,68458,Good employee,3737.0,149.0,3,70511.74
24,Luis,Singh,luis90@outlook.com,23/12/2022,45785,Needs improvement,NaN,NaN,3,47158.55
25,Priya,Kumar,priya13@yahoo.com,18/09/2022,58745,Needs improvement,1090.0,NaN,8,63444.60
26,Michael,Singh,michael44@yahoo.com,29/07/2020,48634,Good employee,1137.0,59.0,8,52524.72
27,Anil,Tanaka,anil59@gmail.com,20/08/2022,88785,unknown,1221.0,NaN,8,95887.80
28,John,Garcia,john36@yahoo.com,26/03/2023,66455,unknown,NaN,NaN,3,68448.65
29,Anil,Garcia,anil42@gmail.com,NaN,32404,Needs improvement,3362.0,70.0,10,35644.40
30,Anil,Smith,anil@outlook.com,NaN,48876,Good employee,1699.0,70.0,3,50342.28
31,Anil,Kumar,anil18@gmail.com,24/07/2022,68554,Needs improvement,NaN,139.0,3,70610.62
32,Anil,Patel,anil49@outlook.com,08/01/2023,87554,Needs improvement,1736.0,NaN,3,90180.62
33,Anil,Lee,anil@yahoo.com,13/12/2022,39447,Good employee,NaN,90.0,3,40630.41
34,Wei,Kumar,wei13@outlook.com,04/07/2020,66884,Good employee,3520.0,142.0,3,68890.52
35,Yuki,Patel,yuki31@outlook.com,14/12/2020,87071,unknown,836.0,144.0,8,94036.68
36,Yuki,Kumar,yuki53@gmail.com,NaN,78554,Good employee,2827.0,NaN,10,86409.40
37,Michael,Patel,michael46@yahoo.com,11/01/2023,37204,unknown,4665.0,83.0,12,41668.48
38,Luis,Smith,luis96@gmail.com,22/12/2020,78609,Needs improvement,3470.0,NaN,10,86469.90

### 4.4 Data Type Verification

In [27]:
df.dtypes

first_name                   object
last_name                    object
email                        object
join_date                    object
salary                        int64
remarks                      object
sales                       float64
time_productive             float64
increment_percentage          int64
final_incremented_salary    float64
dtype: object

### 4.5 Date Standardization

In [28]:
df['join_date'] = df['join_date'].replace('Not Available', np.nan)
df['join_date'] = pd.to_datetime(df['join_date'], errors='coerce', dayfirst=True)
df

,first_name,last_name,email,join_date,salary,remarks,sales,time_productive,increment_percentage,final_incremented_salary
0,Yuki,Tanaka,yuki34@outlook.com,2021-10-09,98000,Good employee,4133.0,85.0,12,109760.00
1,Wei,Singh,wei@gmail.com,2021-10-09,58222,Good employee,3138.0,NaN,10,64044.20
2,Olga,Kumar,unknown@no_mail.com,2022-11-02,52872,Needs improvement,NaN,NaN,3,54458.16
3,Sara,Patel,sara78@yahoo.com,2021-06-25,78655,unknown,2915.0,NaN,10,86520.50
4,Luis,Kumar,luis@gmail.com,2023-07-22,62016,Good employee,4641.0,92.0,12,69457.92
5,Fatima,Garcia,fatima@yahoo.com,2020-01-08,45968,unknown,2261.0,NaN,10,50564.80
6,Michael,Kumar,michael43@outlook.com,2024-11-05,87764,unknown,NaN,NaN,3,90396.92
7,Priya,Garcia,priya@yahoo.com,NaT,37084,Good employee,2588.0,168.0,10,40792.40
8,Wei,Chen,wei4@gmail.com,2022-11-09,85000,Needs improvement,1263.0,157.0,8,91800.00
9,Michael,Tanaka,michael41@outlook.com,2021-06-27,58479,unknown,1291.0,85.0,8,63157.32
10,Olga,Garcia,olga25@outlook.com,2022-04-16,75692,unknown,921.0,91.0,8,81747.36
11,Fatima,Patel,fatima27@outlook.com,2023-03-11,56612,unknown,3059.0,87.0,10,62273.20
12,Yuki,Chen,yuki95@yahoo.com,2022-06-23,57222,unknown,4656.0,106.0,12,64088.64
13,Sara,Garcia,sara@yahoo.com,NaT,70583,unknown,4450.0,56.0,12,79052.96
14,Anil,Brown,anil52@yahoo.com,NaT,66855,Good employee,2352.0,110.0,10,73540.50
15,Sara,Singh,sara97@outlook.com,2024-06-29,45858,unknown,NaN,57.0,3,47233.74
16,Olga,Brown,olga@outlook.com,2023-01-27,57884,Needs improvement,3283.0,135.0,10,63672.40
17,Priya,Lee,priya54@outlook.com,2022-04-14,60534,unknown,NaN,51.0,3,62350.02
18,John,Tanaka,john@outlook.com,2022-02-18,49569,unknown,2262.0,115.0,10,54525.90
19,Anil,Chen,anil11@outlook.com,2024-04-07,79283,Good employee,NaN,167.0,3,81661.49
20,Olga,Smith,olga4@yahoo.com,NaT,58774,Good employee,1168.0,NaN,8,63475.92
21,Yuki,Smith,yuki@yahoo.com,NaT,54596,Good employee,2265.0,NaN,10,60055.60
22,Luis,Ivanova,luis54@outlook.com,2023-09-16,78547,Good employee,NaN,71.0,3,80903.41
23,Yuki,Ivanova,yuki42@yahoo.com,2022-09-17,68458,Good employee,3737.0,149.0,3,70511.74
24,Luis,Singh,luis90@outlook.com,2022-12-23,45785,Needs improvement,NaN,NaN,3,47158.55
25,Priya,Kumar,priya13@yahoo.com,2022-09-18,58745,Needs improvement,1090.0,NaN,8,63444.60
26,Michael,Singh,michael44@yahoo.com,2020-07-29,48634,Good employee,1137.0,59.0,8,52524.72
27,Anil,Tanaka,anil59@gmail.com,2022-08-20,88785,unknown,1221.0,NaN,8,95887.80
28,John,Garcia,john36@yahoo.com,2023-03-26,66455,unknown,NaN,NaN,3,68448.65
29,Anil,Garcia,anil42@gmail.com,NaT,32404,Needs improvement,3362.0,70.0,10,35644.40
30,Anil,Smith,anil@outlook.com,NaT,48876,Good employee,1699.0,70.0,3,50342.28
31,Anil,Kumar,anil18@gmail.com,2022-07-24,68554,Needs improvement,NaN,139.0,3,70610.62
32,Anil,Patel,anil49@outlook.com,2023-01-08,87554,Needs improvement,1736.0,NaN,3,90180.62
33,Anil,Lee,anil@yahoo.com,2022-12-13,39447,Good employee,NaN,90.0,3,40630.41
34,Wei,Kumar,wei13@outlook.com,2020-07-04,66884,Good employee,3520.0,142.0,3,68890.52
35,Yuki,Patel,yuki31@outlook.com,2020-12-14,87071,unknown,836.0,144.0,8,94036.68
36,Yuki,Kumar,yuki53@gmail.com,NaT,78554,Good employee,2827.0,NaN,10,86409.40
37,Michael,Patel,michael46@yahoo.com,2023-01-11,37204,unknown,4665.0,83.0,12,41668.48
38,Luis,Smith,luis96@gmail.com,2020-12-22,78609,Needs improvement,3470.0,NaN,10,86469.90

### 4.6 Business Conditions for Employee Evaluation

Employees are evaluated based on the following criteria:
- Missing sales data
- Time productivity below 80%
- Final incremented salary in the top 30%

### 4.7 Identification of At-Risk Employees

In [30]:
df_step1 = df[df['sales'].isna()]

df_step2 = df_step1[df_step1['time_productive'] < 80]

df_percentile = df['final_incremented_salary'].quantile(0.7)
df_step3 = df_step2[df_step2['final_incremented_salary'] >= df_percentile]
df_step3

,first_name,last_name,email,join_date,salary,remarks,sales,time_productive,increment_percentage,final_incremented_salary
22,Luis,Ivanova,luis54@outlook.com,2023-09-16,78547,Good employee,NaN,71.0,3,80903.41

### 4.8 Termination Flag Assignment

In [31]:
# putting a termination flag whose time productivity is below 80
df['termination_flag'] = df.index.isin(df_step3.index)
df.loc[df['termination_flag']== True, 'termination_flag'] = 'Yes'
df.loc[df['termination_flag']== False, 'termination_flag'] = 'No'
df

C:\Users\Suman\AppData\Local\Temp\ipykernel_9704\2294699731.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Yes' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.loc[df['termination_flag']== True, 'termination_flag'] = 'Yes'

,first_name,last_name,email,join_date,salary,remarks,sales,time_productive,increment_percentage,final_incremented_salary,termination_flag
0,Yuki,Tanaka,yuki34@outlook.com,2021-10-09,98000,Good employee,4133.0,85.0,12,109760.00,No
1,Wei,Singh,wei@gmail.com,2021-10-09,58222,Good employee,3138.0,NaN,10,64044.20,No
2,Olga,Kumar,unknown@no_mail.com,2022-11-02,52872,Needs improvement,NaN,NaN,3,54458.16,No
3,Sara,Patel,sara78@yahoo.com,2021-06-25,78655,unknown,2915.0,NaN,10,86520.50,No
4,Luis,Kumar,luis@gmail.com,2023-07-22,62016,Good employee,4641.0,92.0,12,69457.92,No
5,Fatima,Garcia,fatima@yahoo.com,2020-01-08,45968,unknown,2261.0,NaN,10,50564.80,No
6,Michael,Kumar,michael43@outlook.com,2024-11-05,87764,unknown,NaN,NaN,3,90396.92,No
7,Priya,Garcia,priya@yahoo.com,NaT,37084,Good employee,2588.0,168.0,10,40792.40,No
8,Wei,Chen,wei4@gmail.com,2022-11-09,85000,Needs improvement,1263.0,157.0,8,91800.00,No
9,Michael,Tanaka,michael41@outlook.com,2021-06-27,58479,unknown,1291.0,85.0,8,63157.32,No
10,Olga,Garcia,olga25@outlook.com,2022-04-16,75692,unknown,921.0,91.0,8,81747.36,No
11,Fatima,Patel,fatima27@outlook.com,2023-03-11,56612,unknown,3059.0,87.0,10,62273.20,No
12,Yuki,Chen,yuki95@yahoo.com,2022-06-23,57222,unknown,4656.0,106.0,12,64088.64,No
13,Sara,Garcia,sara@yahoo.com,NaT,70583,unknown,4450.0,56.0,12,79052.96,No
14,Anil,Brown,anil52@yahoo.com,NaT,66855,Good employee,2352.0,110.0,10,73540.50,No
15,Sara,Singh,sara97@outlook.com,2024-06-29,45858,unknown,NaN,57.0,3,47233.74,No
16,Olga,Brown,olga@outlook.com,2023-01-27,57884,Needs improvement,3283.0,135.0,10,63672.40,No
17,Priya,Lee,priya54@outlook.com,2022-04-14,60534,unknown,NaN,51.0,3,62350.02,No
18,John,Tanaka,john@outlook.com,2022-02-18,49569,unknown,2262.0,115.0,10,54525.90,No
19,Anil,Chen,anil11@outlook.com,2024-04-07,79283,Good employee,NaN,167.0,3,81661.49,No
20,Olga,Smith,olga4@yahoo.com,NaT,58774,Good employee,1168.0,NaN,8,63475.92,No
21,Yuki,Smith,yuki@yahoo.com,NaT,54596,Good employee,2265.0,NaN,10,60055.60,No
22,Luis,Ivanova,luis54@outlook.com,2023-09-16,78547,Good employee,NaN,71.0,3,80903.41,Yes
23,Yuki,Ivanova,yuki42@yahoo.com,2022-09-17,68458,Good employee,3737.0,149.0,3,70511.74,No
24,Luis,Singh,luis90@outlook.com,2022-12-23,45785,Needs improvement,NaN,NaN,3,47158.55,No
25,Priya,Kumar,priya13@yahoo.com,2022-09-18,58745,Needs improvement,1090.0,NaN,8,63444.60,No
26,Michael,Singh,michael44@yahoo.com,2020-07-29,48634,Good employee,1137.0,59.0,8,52524.72,No
27,Anil,Tanaka,anil59@gmail.com,2022-08-20,88785,unknown,1221.0,NaN,8,95887.80,No
28,John,Garcia,john36@yahoo.com,2023-03-26,66455,unknown,NaN,NaN,3,68448.65,No
29,Anil,Garcia,anil42@gmail.com,NaT,32404,Needs improvement,3362.0,70.0,10,35644.40,No
30,Anil,Smith,anil@outlook.com,NaT,48876,Good employee,1699.0,70.0,3,50342.28,No
31,Anil,Kumar,anil18@gmail.com,2022-07-24,68554,Needs improvement,NaN,139.0,3,70610.62,No
32,Anil,Patel,anil49@outlook.com,2023-01-08,87554,Needs improvement,1736.0,NaN,3,90180.62,No
33,Anil,Lee,anil@yahoo.com,2022-12-13,39447,Good employee,NaN,90.0,3,40630.41,No
34,Wei,Kumar,wei13@outlook.com,2020-07-04,66884,Good employee,3520.0,142.0,3,68890.52,No
35,Yuki,Patel,yuki31@outlook.com,2020-12-14,87071,unknown,836.0,144.0,8,94036.68,No
36,Yuki,Kumar,yuki53@gmail.com,NaT,78554,Good employee,2827.0,NaN,10,86409.40,No
37,Michael,Patel,michael46@yahoo.com,2023-01-11,37204,unknown,4665.0,83.0,12,41668.48,No
38,Luis,Smith,luis96@gmail.com,2020-12-22,78609,Needs improvement,3470.0,NaN,10,86469.90,No

### 4.9 Review of Flagged Employees

In [32]:
df[df.loc[:, 'termination_flag'] == 'Yes']
df.iloc[22]

first_name                                 Luis
last_name                               Ivanova
email                        luis54@outlook.com
join_date                   2023-09-16 00:00:00
salary                                    78547
remarks                           Good employee
sales                                       NaN
time_productive                            71.0
increment_percentage                          3
final_incremented_salary               80903.41
termination_flag                            Yes
Name: 22, dtype: object

### 4.10 Promotion Pipeline Identification

In [33]:
# empliyees with 4+ experience and an percentage greater than 10% have been flagged under promotion pipeline category

from datetime import datetime
# work experience in days
df['experience_days'] = (datetime.now() - df['join_date']).dt.days

# numaric years
df['experience_years'] = df['experience_days'] // 365

# for reporting
df['exp_year_cln'] = df['experience_years'].astype(str) + ' ' + ' years ' + ' ' + (df['experience_days'] %365).astype(str) +' ' + ' days'

# promotion condition
df['promotion_hr_based'] = 'Not Promotion Pipeline'
df.loc[(df['experience_years'] >= 4)& (df['increment_percentage'] >=10), 'promotion_hr_based'] = 'Promotion Pipeline'  
df[df['promotion_hr_based'] == 'Promotion Pipeline']

,first_name,last_name,email,join_date,salary,remarks,sales,time_productive,increment_percentage,final_incremented_salary,termination_flag,experience_days,experience_years,exp_year_cln,promotion_hr_based
0,Yuki,Tanaka,yuki34@outlook.com,2021-10-09,98000,Good employee,4133.0,85.0,12,109760.0,No,1566.0,4.0,4.0 years 106.0 days,Promotion Pipeline
1,Wei,Singh,wei@gmail.com,2021-10-09,58222,Good employee,3138.0,NaN,10,64044.2,No,1566.0,4.0,4.0 years 106.0 days,Promotion Pipeline
3,Sara,Patel,sara78@yahoo.com,2021-06-25,78655,unknown,2915.0,NaN,10,86520.5,No,1672.0,4.0,4.0 years 212.0 days,Promotion Pipeline
5,Fatima,Garcia,fatima@yahoo.com,2020-01-08,45968,unknown,2261.0,NaN,10,50564.8,No,2206.0,6.0,6.0 years 16.0 days,Promotion Pipeline
38,Luis,Smith,luis96@gmail.com,2020-12-22,78609,Needs improvement,3470.0,NaN,10,86469.9,No,1857.0,5.0,5.0 years 32.0 days,Promotion Pipeline

## Conclusion

This project demonstrates a complete real-world data preprocessing and decision-rule workflow.  
Starting from raw employee data, the analysis involved data cleaning, validation, and standardization to improve data quality. A refined version of the dataset was then used to apply business rules for salary increment calculation, employee evaluation, termination flagging, and promotion pipeline identification.

Rather than focusing on visualization, this project emphasizes structured logic, rule-based decision making, and data reliability, which are critical in operational analytics and business policy implementation.